@import '../Breakpoints/abstracts/mixins';

.posts {
    background-color: white;

 
        
@include respond(phone) {}

}
.post {
    border-bottom: 1px solid var(--twitter-background);
    overflow: hidden;

    .post_image {
     width: 100%;
     max-height: 450px;
        border-radius: 10px;
        margin: 10px 0px;
    }

    a {
                color: black;
                text-decoration: none;
    }
    .postDropdown {
        .msvg {
           margin-left: 120px !important;
           color: rgb(173, 169, 169) !important;

           &:hover {
               background-color: rgb(224, 224, 253);
               border-radius: 20px;
               border: 1px solid rgb(233, 233, 250)
           }
           @include respond (phone) {
            margin-left: 70px !important;
        }

        }
      
    }
}

.postContents {
    padding: 10px;
    


}

.postAvatar {
    margin: 10px 0px;
}

h6 {
    font-size: 14px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


    @include respond (phone) {
        max-width: 80%;
    }
    span {
        font-weight: 800;
        font-size: 12px;
        color: grey
    }
}




p {

overflow-wrap: break-word;
margin-bottom: 2px;
font-size: 14px !important;
width: 80%;

@include respond (phone) {
  width: 90%;  
}

}

.postFooter {
display: flex;
justify-content: space-between;
margin-top: 0px;
width: 75%;
padding-bottom: 10px;
margin-top: 5px;

.retweeted {
    color: green !important;
}

.liked {
    color: red;

    .MuiSvgIcon-root {
        fill: rgb(196, 26, 26) !important;
    }
}

@include respond (phone) {
    width: 80%;
}

}





