.searchComponent::-webkit-scrollbar {
    display: none;

  }

.searchComponent {
    border-left: 1px solid var(--twitter-background);
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
    -ms-overflow-style: none;
    margin-bottom: 2px;
    height: 100vh;



    h1 {
        font-size: 15px;
        text-align: center;
    }
}