

.tweetBox {
    padding-bottom: 10px;
 


    .MuiLinearProgress-colorPrimary {
        background-color: var(--twitter-background);
        
    }
    .MuiLinearProgress-barColorPrimary {
        background-color:  rgba(29,161,242,0.8)
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tweetInput {
        padding: 20px;
        padding-bottom: 0px;
        display: flex;
        width: 100% ;

       

        .text-input {
            margin-left: 5px;
            font-size: 20px;
            box-sizing: border-box;
            overflow-wrap: break-word;
            border: none !important;
            display: block !important;
            margin-bottom: 40px;
            width: 100%;
      
            
            &:focus {
                outline: none !important;
                border: none !important;
            }
            p {
                    color: red;
                    font-size: 10px;
                    margin-top: -15px !important;
                
            }
        }
        p {
            color: rgb(250, 36, 36);
            font-size: 10px;
           display: block;
        
    }
      
    }
    .tweetInputImage {
        border: none;
        padding: 10px;
    }
    .tweetButton {
        background-color: var(--twitter-color) !important;
        border: none !important;
        color: white !important;
        font-weight: 900 !important;
        text-transform: inherit !important;
        width: 80px;
        border-radius: 30px !important;
        margin-left: auto !important;

        &:focus {
            outline: none !important;
        }
    }
    input {
         
        &:focus {
            outline: none !important;
            border: none !important;
        }
    }
    
}
.file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .file-input::before {
  
    content: '';
    display: inline-block;
    background: url('../../Assets/image.svg');
    height: 20px;
    background-repeat: no-repeat;
    background-color:rgba(201, 200, 248, 0.3);
    width: 20px;
    border: 1px solid rgba(201, 200, 248, 0.9);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 100pt;
    margin: 0px 60px;
  }
  .file-input:hover::before {
    border-color: black;
  }
   
 
  input[type='file'] {
    color: transparent;
  }
  .file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }