.searchInputContainer {
   display: flex;
   border: 1px solid var(--twitter-background);
   position: sticky !important;
   z-index: 100;
   top: 0px;
   background-color: white;

   .backButton {
    margin: 20px 10px;
    color: var(--twitter-color);
}
    
}



.searchInput {  
    display: flex;
    background-color: var(--twitter-background); 
    width: 90%;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;

    .searchIcon {
        color: grey;
    
    }

    input {
        border: none;
        background-color: var(--twitter-background);
        width: 100%;
       outline: none !important;
       margin: 0px 15px;

    }
}