@import '../Breakpoints/abstracts/mixins';
.header {
      display: flex;
      background-color: white;
      z-index: 100;
      width: 100%;
      border: 1px solid var(--twitter-background);
      position: sticky;
      top: 0px;
      padding: 5px 20px;

      .header-right { 
          display: flex;
          width: 50%;
          margin: 6px 0px;

          .backButton {
              color: var(--twitter-color) !important;
          }
          h3 {
           font-size: 18px;
           margin: 0px 10px;
           overflow: hidden;
           white-space: nowrap; 
           text-overflow: ellipsis
          }
          .headerAvatar{
            @media screen and (min-width: 600px) {
               display: none;
            }
                
               text-align: left;
            
               span {
                   text-align: center;
                   color: rgb(223, 205, 223);
                   font-size: 20px;
                   font-weight: bold;
               }
      }
     
     
    }
    .logout {
       width: 50%;
       text-align: right;
       color: black;  
   }
   h1 {
       margin: 6px 0px !important;
       font-size: 18px !important;
       color: rgba(29,161,242,0.6) !important;
   }
   
   
    a {
         color: black;
        font-weight: 800;

        &:hover {
            text-decoration: none;
        }
    }

}


