// Dimensions
$component-padding: 200px;


// Typography


// Colors

$color-blue: blue;
$color-white: white;
$color-grey: rgba(184,184,184,0.74);
$color-red: red;
$sub-color: grey;
$main-color: black;


// Media queries
$mobile: 600px;
$mobile-only: only screen and (max-width: #{$mobile});
$mobile-and-up: only screen and (min-width: #{$mobile});