@import '../../Components/Breakpoints/abstracts/mixins' ;

.reset_password {
    margin: 50px 250px;
    width: 30%;

    h1 {
        font-size: 25px;
        font-weight: bold;
        padding: 10px 0px;
    }
    p {
        padding: 10px 0px;
    }
    @include respond(tab-port) {
        margin: 50px 100px;
        width: 60%;
    }
    @include respond(phone) {
        margin: 20px 10px;
        width: 90%;
    }
}